# Neither the config file or its backup should go
# into the repo.
web/config/config.inc.php.bak
# web/config/config.inc.php

# Vim swap files
.*swp

# VS Code editor files
# *.code-workspace
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
!/.vscode/*.code-snippets
!/.vscode/dvwa-with-lando.code-workspace
!/.vscode/php.ini
!/.vscode/lando.env

# Used by pytest
web/tests/__pycache__/

# Don't include any uploaded images
web/hackable/uploads/*

# Don't include the .env file
web/.env

/vendor/
